@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a, li {
    list-style: none;
    text-decoration: none;
}

th {
  @apply text-left text-gray-400 text-xs
}

td {
  @apply max-w-sm
}

.card-input {
  @apply
  box-border
  border-2
  border-zinc-300
  focus:border-cyan-300
  focus:outline-none
  rounded-md
  mb-3
  p-2
  w-full
}

.mobile-nav-active {
  @apply
  absolute
  bg-zinc-800
  flex
  flex-col
  gap-5
  h-screen
  top-20
  left-0
  w-full
  pl-10
  md:flex-row
  md:static
  md:bg-inherit
  md:h-auto
  md:w-auto
}

.mobile-nav {
  @apply
  gap-5
  hidden
  md:flex
  md:static
  md:bg-inherit
  md:h-auto
  md:w-auto
}