@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a, li {
    list-style: none;
    text-decoration: none;
}

th {
  @apply text-left text-gray-400 text-xs
}

td {
  @apply max-w-sm
}

.card-input {
  @apply
  box-border
  border-2
  border-zinc-300
  focus:border-cyan-300
  focus:outline-none
  rounded-md
  mb-3
  p-2
  w-full
}

.mobile-nav {
  transform-origin: top center;
  @apply
  flex
  flex-col
  gap-5
  absolute
  top-full
  left-0
  w-full
  bg-zinc-800
  px-10
  pb-7
  shadow-lg
shadow-zinc-600
  scale-0
  duration-300
  child-hover:text-zinc-50
  child:ease-in-out
}

.mobile-nav-active {
  @apply
  scale-100
}

/* ANIMATIONS */
.btn-animation {
  @apply
  duration-300
  active:scale-90
}

/* BREAKPOINTS */
@media (min-width: 768px) {
  .mobile-nav {
    flex-direction: row;
    transform: scale(1);
    position: static;
    box-shadow: none;
    top: auto;
    left: auto;
    padding: 0;
    width: auto;
    transition: none;
  }
}
